html {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Fraunces;
    color: hsl(210, 30%, 17%);
    margin-bottom: 10%;
}

h2 {
    /*TODO Font too bold*/
    font-family: Fraunces;
}

p {
    font-family: Barlow;
    font-size: 18px;
    color: hsl(232, 10%, 55%);
}

.header {
    background-image: url(./images/desktop/image-header.jpg);
    width: 100%;
    height: 80vh;
    min-height: 600px;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar .menu {
    font-size: 1.5rem;
    font-family: Barlow;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
}

.navbar span {
    margin-right: 2vw;
}

.contact {
    /*TODO Font too bold*/
    font-family: Fraunces;
    background-color: white;
    color: black;
    padding: 1vw 3vw;
    border-radius: 3vw;
}

.contact:hover {
    background: rgba(255, 255, 255, 0.5);
    color: white;
}

.header .header-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .header-slogan .text {
    font-size: 4rem;
    font-family: Fraunces;
    font-weight: 700;
    color: white;
    padding-top: 5vh;
    padding-right: 5vh;
    letter-spacing: 0.5rem;
}

.header .header-slogan .arrow {
    margin-top: 18vh;
}

.section1 {
    display: flex;
}

.section1 .left {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.section1 .text-container {
    width: 70%;
}

.section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 .left,
.right {
    width: 50%;
    text-align: left;
}

.section2 {
    display: flex;
}

.section2 .right {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.section2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2 .text-container {
    width: 70%;
}

.section2 .left,
.right {
    width: 50%;
    text-align: left;
}

.section3 {
    display: flex;
}

.section3 .left,
.right {
    width: 50%;
    text-align: center;
    position: relative;
}

.section3 img {
    width: 100%;
    object-fit: cover;
}

.section3 .text-container {
    position: absolute;
    bottom: 1rem;
}

.section3 .left h3 {
    font-family: Fraunces;
    color: hsl(167, 42%, 24%);
    font-weight: 900;
}

.section3 .right h3 {
    font-family: Fraunces;
    color: hsl(200, 61%, 26%);
    font-weight: 900;
}

.section3 .left p {
    color: hsl(168, 37%, 32%);
    line-height: 1.5;
    text-align: center;
    padding: 0 20%;
    font-family: Barlow;
}

.section3 .right p {
    color: hsl(199, 76%, 27%);
    line-height: 1.5;
    text-align: center;
    padding: 0 20%;
    font-family: Barlow;
}

.section4 h3 {
    color: hsl(0, 0%, 67%);
    font-family: Fraunces;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-top: 10%;
    margin-bottom: 7%;
}

.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(26, 100%, 99%);
    padding: 1.5rem 0;
}

.section4 img {
    border-radius: 50%;
    object-fit: cover;
    width: 5vw;
    height: auto;
    margin-bottom: 1.5rem;
}

.clients {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.clients .client {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0.3;
}

.client p {
    text-align: center;
    font-family: Barlow;
    color: hsl(230, 3%, 43%);
    line-height: 1.5;
}

.client h4 {
    font-family: Fraunces;
    text-align: center;
    margin-top: 5vh;
}

.client h5 {
    font-family: Barlow;
    color: hsl(0, 0%, 67%);
    margin-top: 1px;
}

.client .details {
    padding: 3%;
}

.section5 {
    display: flex;
}

.section5 img {
    flex: 0.25;
    width: 100%;
}

.footer {
    background-color: hsl(167, 44%, 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.footer .logo {
    fill: hsl(168, 47%, 30%);
    filter: invert(70%) sepia(54%) saturate(300%) hue-rotate(116deg)
        brightness(94%) contrast(90%);
}

.footer-navigation {
    color: hsl(167, 33%, 42%);
    font-family: Barlow;
    margin-top: 2%;
}

.footer-navigation span {
    padding: 1.5rem;
}

.footer-media {
    margin-top: 2%;
}

.footer-media img {
    margin-top: 2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
