html {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Fraunces;
    color: hsl(210, 30%, 17%);
    margin-bottom: 10%;
}

h2 {
    /*TODO Font too bold*/
    font-family: Fraunces;
}

p {
    font-family: Barlow;
    font-size: 18px;
    color: hsl(232, 10%, 55%);
}

.header {
    background-image: url(./images/desktop/image-header.jpg);
    width: 100%;
    height: 80vh;
    min-height: 600px;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar .menu {
    font-size: 1.5rem;
    font-family: Barlow;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
}

.navbar span {
    margin-right: 2vw;
}

.contact {
    /*TODO Font too bold*/
    font-family: Fraunces;
    background-color: white;
    color: black;
    padding: 1vw 3vw;
    border-radius: 3vw;
}

.contact:hover {
    background: rgba(255, 255, 255, 0.5);
    color: white;
}

.header .header-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .header-slogan .text {
    font-size: 4rem;
    font-family: Fraunces;
    font-weight: 700;
    color: white;
    padding-top: 5vh;
    padding-right: 5vh;
    letter-spacing: 0.5rem;
}

.header .header-slogan .arrow {
    margin-top: 18vh;
}

.section1 {
    display: flex;
}

.section1 .left {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.section1 .text-container {
    width: 70%;
}

.section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 .left,
.right {
    width: 50%;
    text-align: left;
}
